body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}





.nav-container {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  margin-bottom: 20px;
}

.nav-container a {
  text-decoration: none; 
  color: black; 
}

.nav-container a.active-link {
  color: red;
  font-weight: bold;
}


.nav-container a:hover {
  transform: translateY(-4px); /* Nổi lên trên 4px */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  color: #007bff;
}
